input.ng-invalid.ng-touched {
  border-bottom: 2px solid red;
}
mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.error {
  color: #d32f2f;
  font-size: 12px;
  margin-top: -8px;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid #d32f2f;
}

.mat-mdc-dialog-content {
  overflow: visible !important;
}
